html, body {
    margin:0;
    border:0;
    padding:0;
    font-family: helvetica;
    color: white;
}
div.centered {
    margin:auto;
    font-size:40px;
    width:20em; /* So we get about 10 words per line */
}
.slideCount {
    position: absolute;
    bottom: 1em;
    right: 1em;
}

#error {
    display: none;
}

/* My styling here */
body {
    background: #223;
    background: -webkit-gradient(linear, left top, left bottom, from(#334), to(#112));
    background: -moz-linear-gradient(top,  #334,  #112);
    text-shadow: #000 0 -2px 0;
}
.bg {
    background-image: url("../img/darkaurora.png");
    background-size:100% 100%;
    background-repeat:no-repeat;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /* opacity:0.01; */
    z-index: -1;
}

#overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;  
    z-index: 10;
}
#overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;  
    z-index: 10;
}

pre {
    border: 2px solid #888;
}
pre > code {
    font-size: 60%;
}
code {
    font-size: 80%;
}

a {
  color: #def;
  text-decoration: none;
  border-bottom: 1px dotted;
}

blockquote>blockquote {
    display: none;
}
